.movie-page {
  min-height: 100vh;
  min-width: 150vh;
  background-color: #111;
  background: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.loading {
  text-align: center;
  margin-top: 50px;
  color: white;
}

.movie-title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.fullscreen-btn {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #e50914;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.fullscreen-btn:hover {
  background-color: #b20710;
}

.video-container {
  width: 90%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  background: black;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}
