.Nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #356e41;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

/* Pushes everything else to the right of the image */
.Nav img {
  margin-right: auto; /* Moves everything else to the right */
}

/* Centers the navigation links */
.Nav .nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Takes up remaining space, centering the links */
  margin-left: -200px; /* Adjust this value as needed */
}

.Nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 20px;
  transition: color 0.3s ease-in-out;
}

.Nav a:hover {
  color: #de600b;
  text-underline-position: below;
}

/* Moves Login/SignUp to the far right */
.Nav .login-signup {
  margin-left: auto; /* Pushes it to the right */
  color: blue;
  font-weight: bold;
  padding: 10px 15px;
}
